.home-page-container {
    text-align: center;
}

.red-text {
    color: red;
}

.rose {
    height: 200px;
    width: 200px;
}

p.description {
    font-size: 30px;
}

.login-options {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    width: screen max-content;
}

@media screen and (max-width: 900px) {
    .home-page-container {
        text-align: center;
        width: fit-content;
        height: fit-content;
        margin: auto;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    .red-text {
        color: red;
    }

    .rose {
        height: 125px;
        width: 125px;
    }

    p.description {
        font-size: 25px;
        text-align: ;
    }

    .login-options {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        width: screen max-content;
    }
}