.login-home-page-container {
    text-align: center;
    border-color: #fc96da;
}
.red-text {
    color: red;
}

.login-rose {
    height: 200px;
    width: 200px;
}

.description {
    font-size: 30px;
}

.logged-in-options {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    width: screen max-content;
}
.green-text {
    color: #127b37;
}

.button-link {
    border: none;
    padding: 0;
    background: none;
    font-size: inherit;
}

button:hover {
    font-size: 25px;
    background-color: lightpink;
}

@media screen and (max-width: 900px) {

}