.home-page-container {
    text-align: center;
    border-color: #fc96da;
}
.red-text {
    color: red;
}

.rose {
    height: 300px;
    width: 300px;
}

.description {
    font-size: 30px;
}
.login-options {
    display: flex;
    justify-content:space-around;
    margin-left: 250px;
    margin-right: 250px;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}
.green-text {
    color: #127b37;
}

.button-link {
    border: none;
    padding: 0;
    background: none;
    font-size: inherit;
}

button:hover {
    font-size: 25px;
    background-color: lightpink;
}