.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 10%
}

.selection-container h2 {
    font-size: 35px;
}

.affirmation-options {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
}

.affirmation-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 35px;
    padding: 20px;
    border: 2px dashed rgb(4, 26, 1);
    border-radius: 8px;
    background-color: rgb(249, 204, 211);
    width: calc(33% - 60px);
    min-width: 200px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.affirmation-card:hover {
    color: rgb(190, 23, 51);
}

.affirmation-card a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.affirmation-card img {
    max-height: 100px;
    width: auto;
}

.song-image {
    max-height: 100px;
    width: auto;
}

.affirmation-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.affirmation-card p {
    font-size: 16px;
}

button {
    margin-top: 11px;
}

@media screen and (max-width: 800px) {
    .selection-container h2 {
        font-size: 35px;
    }
.affirmation-options {
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.affirmation-card {
    width: 80%;
    min-width: auto;
}
.affirmation-card h3 {
    font-size: 25px;
}
.affirmation-card p {
    font-size: 17px;
}
}

@media screen and (max-width: 500px) {
    .selection-container h2 {
        font-size: 35px;
    }

    .affirmation-options {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
    .affirmation-card {
        width: 80%;
        min-width: auto;
    }
    .affirmation-card h3 {
        font-size: 22px;
    }
    .affirmation-card p {
        font-size: 17px;
    }
    }